<tr><td>
<div>
    <label style="margin-right:15px">
        Title:</label><span><em>{{dc_title_s}}</em></span>
    <div style="float:right;">
    <label style="margin-right:15px">
        Status:</label><span><em>{{ status }}</em></span>
    </div>
    <br>
    <label style="margin-right:15px"> Description:</label><span>{{dc_description_s}}</span><br>


</div>
</td>
<td>
    <button class="btn btn-primary btn-table" onclick="editMetadata('{{ _id }}')">Edit</button>
    <button class="btn btn-primary btn-table" onclick="setStatusMetadata('{{ _id }}')">Properties</button>
    <div class="delete-btn btn-table" style="display:none;margin-top:100;">
        <button class="btn btn-primary btn-table" onclick="deleteMetadata('{{ _id }}',['{{layer_id_s}}'])">Delete</button>
    </div>
</td>
</tr>
