      <h2>User Profile</h2>
      <div id="user_profile">
          <div id="photo" class="col-md-2" style="width:200px ">
            <img src="{{ gravator_url }}?s=180&d=mm"><br><br>
            <a href="https://en.gravatar.com/" target="_blank" style="clear:both;">Profile Image</a><br><br>
            <a id="reset_password" style="clear:both;">Reset Password</a>
          </div>
          <form  id="view_form" class="form-horizontal col-md-4" onsubmit="return edit_user();">
              <div class="form-group">
                <label class="col-md-3 control-label">Username</label>
                  <div class="col-md-09">
                <p class="form-control-static">{{ username }}</p>
                </div>
            </div>
             <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-09">
                  <p class="form-control-static">{{ name }}</p>
                  </div>
            </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                  <div class="col-md-09">
                    <p class="form-control-static">{{ email }}</p>
                 </div>
             </div>
             <button type="submit" id="form_submit" class="btn btn-default pull-right" style="margin-right:40px;">Edit</button>
         </form>
          <form class="col-md-4" id="user_form" onsubmit="return submit_user();">
              <div style="display:none">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
             </div>
              <div class="form-group">
                 <label for="first_name">First Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="John" value="{{ first_name }}">
             </div>
              <div class="form-group">
                   <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Doe" value="{{ last_name }}">
               </div>
              <div class="form-group">
                 <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ email }}">
             </div>
             <button type="submit" id="form_submit" class="btn btn-default pull-right">Update</button>
         </form>
         <div class="row" style="width:100%;clear:both;"></div>
          <form class="form-inline" id="pass_form" onsubmit="return set_password();" style="display:none">
            <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
           </div>
            <div class="form-group">
             <label for="password">New Password</label>
              <input type="password" class="form-control" name="password" placeholder="New Password">
           </div>
            <div class="form-group">
             <label for="password2">Retype New Password</label>
              <input type="password" class="form-control" name="password2" placeholder="Retype New Password">
           </div>
           <button type="submit" class="btn btn-default">Set Password</button>
         </form>
     </div>
