<div class="">
  <div class="row">
    <div class="col-sm-6" >
      <h3>XML File</h3>
      <textarea rows=60 id="xmlfilexml"></textarea>
      <a href="{{ urlxmlfgdc }}" target="_blank">FGDC XML</a>
    </div>
    <div class="col-sm-6">
      <h3>Geoblacklight Schema</h3>
     <form id="geoblacklightform" action="" class="" >
       <div style="display:none">
         <input type="hidden" name="dct_references_s" value="{{ data.dct_references_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="uuid" value="{{ data.uuid }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="dc_identifier_s" value="{{ data.dc_identifier_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="layer_id_s" value="{{ data.layer_id_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="dc_language_s" value="{{ data.dc_language_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="dct_provenance_s" value="{{ data.dct_provenance_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="dct_type_s" value="{{ data.dct_type_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="layer_slug_s" value="{{ data.layer_slug_s }}"/>
       </div>
       <div style="display:none">
         <input type="hidden" name="dc_type_s" value="{{ data.dc_type_s }}"/>
       </div>
       <div id="geolayers" class="form-group">
      </div>
       <div class="form-group">
         <label for="dc_title_s" >Title</label>
         <input type="text" class="form-control" name="dc_title_s"value="{{ data.dc_title_s }}"/>
       </div>
         <div class="form-group">
           <label for="dc_description_s">Description</label>
           <textarea name="dc_description_s" class="form-control" rows="10" cols="60">{{ data.dc_description_s }}</textarea>
         </div>
           <div class="form-group">
             <label for="dc_rights_s">Rights</label>
             <select name="dc_rights_s" class="form-control" value={{ data.dc_rights_s }}>
                 <option value="Public">Public</option>
                 <option value="Restricted">Restricted</option>
             </select>
          </div>
          <div class="form-group">
             <label for="layer_geom_type_s">Geometry Type</label>
             <select class="form-control" name="layer_geom_type_s" value={{ data.layer_geom_type_s}}>
                 <option value="Polygon">Polygon</option>
                 <option value="Raster">Raster</option>
                 <option value="Point">Point</option>
                 <option value="Line">Line</option>
                 <option value="Image">Image</option>
                 <option value="Mixed">Mixed</option>
                 <option value="Paper Map">Paper Map</option>
             </select>
           </div>
           <div class="form-group">
              <label for="dc_format_s">File Format</label>
              <select  class="form-control" name="dc_format_s" value={{ data.dc_format_s}}>
                  <option value="Shapefile">Shapefile</option>
                  <option value="GeoTiff">GeoTiff</option>
                  <option value="Scanned Map">Scanned Map</option>
                  <option value="File">File</option>
              </select>
            </div>
           <div class="form-group">
             <label for="dc_publisher_s">Publisher</label>
             <input class="form-control" type="text" name="dc_publisher_s"value="{{ data.dc_publisher_s }}"/>
          </div>

            <div class="form-group">
                <label for="dct_issued_s">Date Issued</label>
                <input class="form-control" type="text" name="dct_issued_s"value="{{ data.dct_issued_s }}"/>
             </div>
             <div class="form-group">
               <label for="dc_creator_sm1">Creator List</label>
               <input class="form-control" type="text" name="dc_creator_sm1"value="{{ data.dc_creator_sm1 }}"/>
            </div>
            <div class="form-group">
              <label for="dc_subject_sm1">Subject List</label>
              <input class="form-control" type="text" name="dc_subject_sm1"value="{{ data.dc_subject_sm1}}"/>
           </div>
           <div class="form-group">
             <label for="dct_temporal_sm1">Temporal List</label>
             <input class="form-control" type="text" name="dct_temporal_sm1"value="{{ data.dct_temporal_sm1 }}"/>
          </div>
          <div class="form-group">
            <label for="dct_spatial_sm1">Spatial List</label>
            <input class="form-control" type="text" name="dct_spatial_sm1"value="{{ data.dct_spatial_sm1 }}"/>
         </div>

         <button class="btn btn-primary" type="button" id="getblight">Get Schema</button>
     </form>

    </div>

</div>
</div>
<script>
/*
  var container = document.getElementById("jsoneditor");
  var options = {};
  var editor = new JSONEditor(container, options);
  editor.set(jsonData)
*/
</script>
